HTML CSSResult Skip Results Iframe
EDIT ON

h2 {
 border-bottom: 3px solid #aaa;
 color: #aaa;
}

body {
   font-family:'Noto Sans JP',sans-serif;
   background-color:#f6f5f4;
}

.side {
  width:100px;
  height:300px;
  text-align:center;
  margin-left:10px;/*サイドバーとメインコンテンツの間に隙間をあけた*/
}

.content {
  width:250px;
  height:300px;
  text-align:center;
}

article {
  display:flex;/*サイドバーとメインコンテンツを横並びにする指定をした*/
}

h1 {font-size:20px;}